.footer-container{
    background: #3e2619;
    color: white;
    padding: 20px;
    display: flex;
}

.btn-transparente{
    margin-top: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
}

.btn-transparente:hover{
    background: white;
    color: #3e2619;
    border: 2px solid white;
}

.links-container{
    border-left: 1px solid white;

}

h6{font-weight: 200;}

h5{font-weight: 400;}